body{
  font-family: Arial, sans-serif;
}

/* Floating Icon */
#chat-icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #f71212;
  color: white;
  border: 2px solid rgb(0, 17, 17);
  padding: 9px 3px 2px;
  border-radius: 56%;
  cursor: pointer;
  font-size: 20px;
}

/* Chat Box */
#chat-box{
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 320px;
  height: 420px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: none;
  flex-direction: column;
}

/* Header */
#chat-header{
  background: #004aad;
  color: white;
  padding: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
#chat-close{
    cursor: pointer;
}
#chat-close:hover{
    color: red;
   
}

/* Body */
#chat-body{
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #f4f4f4;
}

/* Messages */
.bot-msg{
  background: #e0e0e0;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  width: fit-content;
}

.user-msg{
  background: #004aad;
  color: white;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  width: fit-content;
}

/* Footer */
#chat-footer{
  display: flex;
  border-top: 1px solid #ccc;
}

#chat-footer input{
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

#chat-footer button{
  background: #004aad;
  color: white;
  border: none;
  padding: 10px 15px;
}
.typing{
  display: flex;
  gap: 5px;
  background: #f7de02;
  padding: 8px 12px;
  border-radius: 8px;
  width: fit-content;
  margin-bottom: 8px;
}

.typing span{
  width: 6px;
  height: 6px;
  background: #555;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.typing span:nth-child(2){
  animation-delay: .2s;
}

.typing span:nth-child(3){
  animation-delay: .4s;
}

@keyframes blink{
  0%{ opacity: .2; }
  20%{ opacity: 1; }
  100%{ opacity: .2; }
}
